USE [master]
GO
/****** Object:  Database [API]    Script Date: 06/10/2025 12:06:59 ******/
CREATE DATABASE [API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'API', FILENAME = N'C:\Users\Cristian\API.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'API_log', FILENAME = N'C:\Users\Cristian\API_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [API]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06/10/2025 12:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 06/10/2025 12:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOM_FIELD]    Script Date: 06/10/2025 12:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOM_FIELD](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CUSTOM_FIELD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICE]    Script Date: 06/10/2025 12:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[HourValue] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SERVICE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCountries]    Script Date: 06/10/2025 12:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCountries](
	[ServiceId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_ServiceCountries] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC,
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 06/10/2025 12:06:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nit] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_COUNTRY_Code]    Script Date: 06/10/2025 12:06:59 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_COUNTRY_Code] ON [dbo].[COUNTRY]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CUSTOM_FIELD_SupplierId]    Script Date: 06/10/2025 12:06:59 ******/
CREATE NONCLUSTERED INDEX [IX_CUSTOM_FIELD_SupplierId] ON [dbo].[CUSTOM_FIELD]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SERVICE_SupplierId]    Script Date: 06/10/2025 12:06:59 ******/
CREATE NONCLUSTERED INDEX [IX_SERVICE_SupplierId] ON [dbo].[SERVICE]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceCountries_CountryId]    Script Date: 06/10/2025 12:06:59 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceCountries_CountryId] ON [dbo].[ServiceCountries]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOM_FIELD]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOM_FIELD_SUPPLIER_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[SUPPLIER] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUSTOM_FIELD] CHECK CONSTRAINT [FK_CUSTOM_FIELD_SUPPLIER_SupplierId]
GO
ALTER TABLE [dbo].[SERVICE]  WITH CHECK ADD  CONSTRAINT [FK_SERVICE_SUPPLIER_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[SUPPLIER] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SERVICE] CHECK CONSTRAINT [FK_SERVICE_SUPPLIER_SupplierId]
GO
ALTER TABLE [dbo].[ServiceCountries]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCountries_COUNTRY_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[COUNTRY] ([Id])
GO
ALTER TABLE [dbo].[ServiceCountries] CHECK CONSTRAINT [FK_ServiceCountries_COUNTRY_CountryId]
GO
ALTER TABLE [dbo].[ServiceCountries]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCountries_SERVICE_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[SERVICE] ([Id])
GO
ALTER TABLE [dbo].[ServiceCountries] CHECK CONSTRAINT [FK_ServiceCountries_SERVICE_ServiceId]
GO
USE [master]
GO
